{% extends 'news/base.html' %}

{% block title %} Login sahifasi {% endblock title %}

{% block content %}

    <h2>Login</h2>
    <p>Iltimos, saytga kirish uchun quyidagi formani toldiring</p>
    <h5>Agar parolni unutgan bo'lsangiz, uni <a href="{% url 'password_reset' %}" style="color: red">tiklang</a></h5>

    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
    <button type="submit">Login</button>
    </form>
    <h4>Agar foydalanuvchi profilingiz bo'lmasa <a href="{% url 'user_register' %}" style="color: red">Ro'yhatdan o'tishingiz</a> mumkun</h4>
    
{% endblock content %}